.admin-main{
    display: grid;
    grid-template-areas: "header header"
                         "optionsAdmin mainSection"
                         "footer footer";
    grid-template-columns: 14rem 70rem 15rem; 
    grid-template-rows: 6rem 35rem  5rem;
}
#admin-header{
    grid-area: header;
    border: 1px solid black;
    display: grid;
    grid-template-areas: "logo . title . profile";
    grid-template-columns: 18rem 10rem 28rem 8rem ;
}
#admin-logo{
    grid-area: logo;
    border: 1px solid #eb137f;
}
#admin-title{
    grid-area: title;
    border: 1px solid #eb137f;
    display: flex;
    justify-content: center;
    align-items: center;
}
#admin-profile{
    grid-area: profile;
    border: 1px solid #eb137f;
}
#optionsAdmin{
    grid-area: optionsAdmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#optionsAdmin .Link{
    padding: 1rem;
    width: 14rem;
    border: 1px solid #9999b9 ;
}
#optionsAdmin .Link:hover{
    background-color: #6d6dbd;
    border-color: #3939ce;
    transition: 0.5s;
}
#main-section-admin{
    grid-area: mainSection;
    background-color: #9999b9;
    border: 1px solid black;
}
#footer-admin{
    grid-area: footer;
    border: 1px solid black; 
    text-align: center;
    padding-top: 1rem;
}