#edit-page-main{
    width: 35rem;
    height: 20rem;
    background-color: #f3ecec;
    position: fixed;
    margin-left: 7rem;
    border-radius: 10px;
    border: 1px solid black;
    align-items: normal;   
    padding: 2rem 5rem;
    line-height: 3rem; 
}
#edit-page-main input{
    height: 2rem;
    width: 15rem;
}
